.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
/.quarto/
/_site/
docs
inst/doc
Report.sso
petrale_convert_output.csv
stock_assessment_reports
/doc/
converted_file_1126.csv
saved_converted_output.csv
rda_files
Meta
captions_alt_text.csv
doc
