.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
/.quarto/
/_site/
docs
inst/doc
petrale_convert_output.csv
saved_converted_output.csv
stock_assessment_reports
Report.sso
captions_alt_text.csv
