.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
/.quarto/
/_site/
docs
inst/doc
Report.sso
petrale_convert_output.csv
stock_assessment_reports
/doc/
/Meta/
captions_alt_text.csv
converted_file_1126.csv
rda_files
Meta

