# Automatically adds a comment containing a reviewer checklist
# when a new pull request *from dev to main* is opened.
name: new-version-checklist
on:
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  new-version-checklist:
    runs-on: ubuntu-latest
    name: new-version-checklist
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: 'Comment PR'
        uses: actions/github-script@0.3.0
        if: github.event_name == 'pull_request'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            var msg = `# New version checklist

            - [ ] Package version in DESCRIPTION has been updated
            - [ ] Release notes have been drafted/published
            - [ ] Cheatsheet content has been updated (if applicable)
            - [ ] Cheatsheet version has been updated
            
            `
            const { issue: { number: issue_number }, repo: { owner, repo }  } = context;
            github.issues.createComment({ issue_number, owner, repo, body: msg });
